html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: inherit;
  display: flex;
  background-color: #f8f8ff;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}

footer {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
